.get-started{
    width: 100%;
    max-width: 2000px;
    padding: 100px 95px 0 95px;
    position: relative;
    margin: 0 auto;

    .glow-effect{
        position: absolute;
        top: -300px;
        left: 0;
        z-index: -1;
    }

    h1,h2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        display: flex;
        align-items: center;
        letter-spacing: 0.035em;
        color: #FFC727;  
        
    }
    h2{
        color: #FFFFFF;
    }

    .types-of-funding{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 70px;
        padding-bottom: 126px;

        a{
            text-decoration: none;
        }

        .funding{
            display: flex;
            flex-direction: column;
            width: max-content;
            justify-content: center;
            align-items: center;
            padding: 30px 30px; 
            margin: 30px;
            cursor: pointer;
            transition: ease-in-out .1s;

            img{
                width: 80px;
                height: 80px;
            }
            h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                display: flex;
                align-items: center;
                letter-spacing: 0.035em;
                color: #FFFFFF;
                padding-top: 15px;
            }
        }

        .funding:hover{
            transform: scale(1.3);

        }
    }
}