.information-section{
    width: 100%;
    max-width: 2000px;
    padding: 0 95px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 95px 140px 95px;
    
    h1{
        font-family: 'Crossten';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 103%;
        text-align: center;
        letter-spacing: 0.055em;
        color: #FFFFFF;
        max-width: 903px;        
    }
    span{
        color:#FFC727;
    }
    .yellow-h1{
        margin-top: 80px;
        color:#FFC727;
    }

    h2{
        font-family: 'Crossten';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        color: #FFFFFF;  
        margin-top: 32px;      
    }

    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #FFFFFF; 
        margin-top: 32px; 
        max-width: 877px;       
    }

    a{
        width: 428px;
        height: 59px;
        border: 3px solid #DAAD24;
        filter: drop-shadow(0px 0px 12px #FFC727);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 55px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #FFFEFF;
        
    }
    a:hover{
        background-color:#DAAD24 ;
        color: #000000;
    }

    h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #FFFFFF; 
        margin-top: 39px;       
    }
}